*{
    margin: 0px; /*zerar as margens*/
    font-family: 'inter';
}
#imagem-logo{
   /* width: 150px;  /*muda o tamanho da imagem*/
    margin-left: 50px;  /*determina a lagura lateral esquerda*/
    margin-top: 50px;   /*determina a largula de cima*/
}
#titulo1{
    margin-left: 150px;
    margin-top: 50px;    
}
#texto1{
    margin-left: 150px;
    margin-top: 35px;
    padding-bottom: 100px;  /*largura da borda da parte de baixo*/
    font-family: 'inter';   /*fonte */
}
#menu1{
    background-image: url(imagens/fundo-menu1.svg); /*imagem de fundo do menu inicial*/
    color: aliceblue;
}
#menu2{
    background-color: aliceblue; /*COR DO FUNDO*/
    display: grid;                 /*aplica grades*/
    grid-auto-flow: column;        /*aplica as colunas*/
    columns: auto;                 /*idiciona colunas outomatico*/
}
.icones{
    margin: 50px 0px 50px 100px;  /*confidura todas as margens de uma só vez*/
    padding: 25px;                /*borda interna do icone*/
}
.textoinformativo{
    display: flex;
    align-items: center; 
}
#menu3{
    display: grid;
    grid-auto-flow: column;
    columns: auto;
}
#video{
    margin: 50px 25px 50px 100px;
}
#titulo-video{
    color: #247ba0;
    margin-top: 50px;
    font-family:Arial, Helvetica, sans-serif; /*tipo de letra*/
}
#menu4{
    background-color: #247ba0;
    padding: 50px;
}
#titulo-carrossel{
    text-align: center;                       /*alinha o texto ao centro*/
    font-size: 25px;                          /*tamanho da letra*/
    color:white;
}
#div-cards{
    display: grid;
    grid-auto-flow: column;
    margin-top: 25px;
}
.cards{
   margin-left: 50px;
}
#seta-esquerda{
   display: none; /* esconde a seta*/
}
#card3{
    display: none; /*escondeu a Bruna*/
}
.setas{
    margin-top: 130%; /* altura da seta*/
    cursor: pointer;   /*faz aparecer a mãozinha sobre a seta*/
}
.setas:hover{
    transform: translatey(-7px); /* faz a seta movimentar para cima*/
    transition-duration: 0.5s;   /* velocidade do movimento*/
}
#formulario{
    text-align: center;
}
#titulo-formulario{
    font-size: 25px;
    margin: 25px;
    color: #383838;
}
input{
    width: 300px;
    height: 40px;
    background-color: #eaece5;
    margin: 15px;
    border: 0px;
    border-radius: 5px;
    padding-left: 10px;
}
button{
    background-color: #247ba0;
    height: 40px;
    width: 250px;
    color: #eaece5;
    border: 0px;
    border-radius: 5px;
    margin-bottom: 50px;
    font-weight: bolder;
    cursor: pointer;
}button:hover{
    background-color: #318fb8;
    color: white;
    transform: translateY(-7px);
    box-shadow: 0px 15px 20px #05103081;
    transition-duration: 0.5s;
}